[submodule "Frontend/Frontend-Angular"]
	path = Frontend/Frontend-Angular
	url = https://github.com/Suryansh-Sharma/Frontend-Angular
[submodule "Frontend"]
	path = Frontend
	url = https://github.com/Suryansh-Sharma/Frontend-Angular
